.list-nav .list-header-md {
    
    margin-bottom: 0px;
    font-size: 1.9rem;
    color: #000!important;
    background-color:#f0b840;
}


.list-fav.list .list-header-md {
    margin-top: 32px;
    margin-bottom: 0px;
    font-size: 1.9rem;
    color: #000!important;
    background-color:#f0b840;
}


.item-inner .input-wrapper {
    margin-left: 10px;
}
.item-md {
    padding-left: 0px!important;
}