ion-col.col p {
    text-align: center!important;
}
ion-col.col h4 {
    text-align: center;
}
ion-badge.badge.badge-ios {
    margin: 0px auto!important;
    display: table!important;
}
ion-badge.badge.badge-ios.badge-ios-danger {
    text-align: center!important;
    margin: 0px auto!important;
    display: table!important;
}